[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3"

[packages]
# NuCypher
nucypher = {git = "https://github.com/nucypher/nucypher.git",ref = "doubtfire"}
# Web
requests = "*"
flask = "*"
# Database
influxdb = "*"
# CLI / Configuration
maya = "*"
click = ">=7.0"
# UI
dash = "*"
dash-core-components = "*"
dash-html-components = "*"
dash_daq = "*"
plotly = "==3.10.0"

[dev-packages]
dash = {extras = ["testing"],version = "*"}
# Pytest
pytest = "*"
# Deployment
bumpversion = "*"
# Coverage
coverage = "*"

[scripts]
nucypher-monitor = "python3 monitor/cli/main.py"

[pipenv]
allow_prereleases = true
