-i https://pypi.python.org/simple
attrs==20.2.0
autobahn==20.7.1
automat==20.2.0
backports.zoneinfo==0.2.1
brotli==1.0.9
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
constantly==15.1.0
cryptography==3.1.1
dash-core-components==1.12.1
dash-daq==0.5.0
dash-html-components==1.1.1
dash-renderer==1.8.2
dash-table==4.10.1
dash==1.16.3
dateparser==0.7.6
flask-compress==1.7.0
flask==1.1.2
future==0.18.2
git+https://github.com/derekpierre/nucypher.git@ad2e2d0524d90d368c5fb90f71c1c1bf3b46b10a#egg=nucypher
hendrix==3.4.0
humanize==3.0.1
hyperlink==20.0.1
idna==2.10
incremental==17.5.0
influxdb==5.2.3
ip2location==8.4.1
itsdangerous==1.1.0
jinja2==2.11.2
markupsafe==1.1.1
maya==0.6.1
pathtools==0.1.2
pendulum==2.1.2
plotly==4.11.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pychalk==2.0.1
pycparser==2.20
pyhamcrest==2.0.2
python-dateutil==2.8.1
pytz==2020.1
pytzdata==2020.1
regex==2020.10.11
requests==2.24.0
retrying==1.3.3
service-identity==18.1.0
six==1.15.0
snaptime==0.2.4
twisted==20.3.0
txaio==20.4.1
tzlocal==2.1
urllib3==1.25.10
watchdog==0.10.3
werkzeug==1.0.1
zope.interface==5.1.2
