body {
    font-size: 2em;
    line-height: 1.6;
    font-weight: 400;
    color: #d8d9da;
    font-family: monospace;
    background-color: #161719;
}


a {
    color: slategrey;
    text-decoration: none;
}

th {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #E1E1E1;
    /*flex: 1;*/
}

label, legend {
    display: block;
    margin: 0.25vh;
}

hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: none !important;
}

#pinned-message {
    background-color: #462e7a;
    margin: 0;
    color: #d8d9da;
    display: flex;
    text-align: center;
    padding: 1vh;
    font-weight: bold;
    color: #ece2e2;
    white-space: pre-wrap;
    align-items: center;
    justify-content: center;
}

._dash-loading-callback {
    display: none;
}

.dash-spreadsheet.dash-freeze-top {
    max-height: none !important;
}

#react-entry-point {
    display: flex;
    width: 99%;
    flex-flow: column;
    justify-content: space-between;
    position: absolute;
}

#react-entry-point > div {
    height: 90%;
}

#main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
    margin: 0.2em;
    height: 100%;
}

#controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0.75em;
    padding-bottom: 0;
}

#stats, #widgets {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-top: 0.5em;
}

#stats > div, #widgets > div {
    border: 1px solid #2b2b2b;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    flex-grow: 6;
    padding-bottom: 20px;
    border-radius: 6px;
    padding-left: 2em;
}

h4 {
    font-size: 2.5rem;
    line-height: 1.35;
    letter-spacing: -.08rem;
    margin-bottom: 1.2rem;
    margin-top: 1.2rem;
}

h5 {
    font-size: 1.7rem;
    line-height: 1.5;
    letter-spacing: -.05rem;
    margin-bottom: 0.6rem;
    margin-top: 0.6rem;
}

#stats > div {
    width: 20%;
}

#widgets > div {
    width: 30%;
    background-color: #212124;
    margin: 3px;
}


.banner {
    width: 3em;
    margin-right: 1em;
}

.app_name {
    color: rgb(30, 101, 243);
    padding-top: 10px;
    display: inline-block;
}


.symbols {
    float: left;
    width: 100%;
    opacity: 0.75;
}

.single-symbol {
    font-size: 3.5em;
    color: black;
    margin-right: 2px;
    opacity: 0.75;
    margin-top: -0.25em;
    margin-bottom: 0.15em;
}

.nucypher-nickname-icon {
    margin: 3px;
    padding: 3px;
    text-align: center;
    margin-bottom: -5px; /* cheat the margin */
}

.dot {
    height: 24px;
    width: 24px;
    display: inline-block;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%; /* (height/width + border-width) should equate to an even number */
}


.table-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1em;
}

.small {
    float: left;
    width: 100%;
    text-shadow: none;
    font-size: 10px;
}

.address, .small-address {
    font-family: monospace;
}

.small-address {
    text-shadow: none;
}


.logo-box {
}

#version {
    width: 100%;
    font-size: 1em;
    vertical-align: middle;
    margin-top: 0.5em;
    margin-right: 1em;
}

.stacked-widget {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

#locked-stake {
    width: 100%;
}

#locked-stake-graph {
    flex-basis: 100%;
    height: 100%;
}

#prev-stakers-graph {
    width: 100%;
}

#prev-orders-graph {
    width: 50%;
}

#staker-breakdown {
    flex-basis: 0;
}

#staker-breakdown-graph {
    width: 100%;
    height: 100%;
}

#top-stakers-graph {
    flex-basis: 100%;
    height: 100%;
}

#top-stakers {
    width: 100%;
}

#state-table {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-end;
    flex-wrap: wrap;
}

#state-table > td {
    padding: 0;
    border-bottom: 0;
    margin: 0;
    flex: 0;
}

.state {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 12em;
    color: black;
    font-weight: 900;
    font-size: 1rem;
    height: 6em;
    border: 0;
    opacity: 0.8;
    border-radius: 5px;
    margin-right: 2px;
    margin-bottom: 2px;
}

.state-current {
    border-style: solid;
    border-left: 0;
    border-right: 0;
    padding: 0;
    height: 9em;
    color: rgb(29, 28, 28);
    mix-blend-mode: difference;
    border-top: 5px solid #e60808;
    opacity: 0.9;
}

.state > span {
    font-size: 1em;
    font-weight: 100;
    margin-top: -1.2em;
    margin-bottom: 1.2em;
}

#prev-states {
    width: 100%;
}

.node-table {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.node-table td {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 0;
    text-align: left !important;
    font-size: 1.2rem;
    border-bottom: 1px solid #2B2B2B !important;
    vertical-align: middle !important;
}

.node-table th {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    border-bottom: 1px solid #E1E1E1 !important;
    font-size: 1.2rem !important;
    text-align: left !important;
    font-weight: bold !important;
}

.node-table input:not([type=radio]):not([type=checkbox]).current-page {
    padding: 10px 1px !important;
    text-align: center !important;
    background-color: white !important;
}

.node-table input:not([type=radio]):not([type=checkbox]) {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    background-color: #b1b8bf !important;
    border-right: 1px solid black;
    border-radius: 0;
    color: rgb(0, 0, 0) !important;
    text-align: left !important;
}

.node-table tr:hover {
    background-color: rgb(0, 0, 0) !important;
    box-shadow: rgb(220, 220, 220) 0 0 10px;
}

.node-table p {
    margin: 0;
}

.node-table a {
    font-family: monospace;
}

/* status images in table */
.node-table img {
    vertical-align: middle;
    width: 15px;
    height: 15px;
}

.nucypher-button {
    display: none;
}

#contracts {
    flex-basis: 0;
}

#contract-names {
    display: flex;
    flex-direction: column;
    width: 96%;
}


#contract-names > tr {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 99%;
    padding: 1rem;
}

.node-address {
    flex-grow: 0;
}

.node-nickname {
    flex-basis: 25%;
}

.node-nickname > div > a {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#contracts tr:nth-child(even) {
    background-color: #2c2c318a;
    color: #fff;
}

#contracts tr:nth-child(odd) {
    background-color: #16171929;
    color: #fff;
}

#known-nodes {
    color: #767676;
}

.nodes-list-description {
    font-style: italic;
}

.label-and-tooltip {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
}


.info-icon {
    padding-top: 0.85vh;
    margin-left: .75vw;
    height: 25px;
    width: auto;
    opacity: 0.75;
}

.info-icon:hover {
    opacity: 0.9;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    opacity: 0.9;
    visibility: hidden;
    width: 30em;
    background-color: #212124;
    text-align: center;
    padding-top: 0vh;
    border-radius: 1px;
    position: absolute;
    z-index: 1;
    margin-top: 1vh;
    margin-left: .5vw;
    border: 1px solid #5e5e5e;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

#nodes-geolocation-graph {
    flex-basis: 0;
}